body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/seattle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin:0;
  padding:0;
}

a {
  color: #00B7FF;
}

header{
  display: block;
  margin:0 auto;
  margin-top: 50px;
  background-color:black;
  width:75%;
  height: 80px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  border-radius: 15px;
  margin-bottom: 20px;
  padding-top: 20px;
}

h1 {
  text-align: center;
  color:whitesmoke;

}

#container_top{
  width:90%;
  height: 150px;
  display: block;
  margin:0 auto;
}

#search_div {
  margin-top: 60px;
  display: flex;
  float: right;
  justify-content: center;
}

#searchbar {
  border-radius: 15px;
  width:180px;
  height: 30px;
}

#select_div{
  width: 50%;
  height: 150px;
  float:left;
}

#select_div ul {
  list-style-type: none;
}

/* #button1{
  display:block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid blue;
}
#button2{
  display:block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid red;
}
#button3{
  display:block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid green;
} */


p{
  margin:0;
  padding:0;
}

#container{
  margin:0 auto;
  display:block;
  width: 75%;
  height: 560px;
  border-radius: 15px 15px 15px 15px;
}

#iframe{
  margin-top:30px;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
}

footer{
  display: block;
  margin:0 auto;
  margin-top:40px;
  background-color:whitesmoke;
  width:100%;
  height: 250px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  border-radius: 15px;
  padding-top: 10px;
  text-align: center;
  text-align: end;
}

#property_info{
  width: 25%;
  padding: 1am;
  float:left;
  text-align:left;
  overflow: scroll;


}

#copyright{
  text-align: right;
  margin-top: 100px;
  margin-bottom:5px;
}

img{
  text-align: right;

}

select_footer_div{
  width:50px;
  float:left;
  margin-right: 20px;
}

button_f1 {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid red;
}

button_f2{
  display:block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid red;
}

button_f3{
  display:block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid red;
}
/** Style for admin**/
#admin-form{
  width:80%;
  height:230px;
  background-color:#ffffff;
  color:#000000;    
  opacity: .4;
  font-weight: bold;
  font-size: 16pt;
  margin: auto;
  align-items: center;
  align-content: center;
}

#admin-form2{
  width:80%;
  height:500px;
  background-color:#ffffff;
  color:#000000;    
  opacity: .4;
  font-weight: bold;
  font-size: 16pt;
  margin: auto;
  align-items: center;
  align-content: center;
}

#deletep{
  width:80%;
  height:150px;
  background-color:#ffffff;
  color:#000000;    
  opacity: .4;
  font-weight: bold;
  font-size: 16pt;
  margin: auto;
  align-items: center;
  align-content: center;
}

.adminbox1 {
  width:600px;
  background:#cdea7c;
  padding-left: 10px;
  float: left;
  align-items: center;
  }
   .adminbox2 {
  background: #cdea7c;
  width:600px;
  padding-left: 10px;
  float: right;
  align-items: center;
  }
  .addp{
  background: #cdea7c;
  height: 150px;
  width:100%;
  font-size: 13pt;
  align-items: center;
  }
  .adbox{
  background: #cdea7c;
  height: 50px;
  width:100%;
  font-size: 13pt;
  align-items: center;
  }

  #adform-container {
  width:100%;
  margin:auto;
  align-items: center;
}

#admin-form2 input[type="text"]

 {
  margin: 10 0 10px;
  padding-top: 10px;
  width: 300px;
  height: 30px;
  background: white;
  color: black;
  }

  #deletep input[type="text"]{
  margin: 10 0 10px;
  padding-top: 10px;
  width: 300px;
  height: 30px;
  background: white;
  color: black;



}


#building_typeColor{
  color:#045cf4;
  font-weight:bold;
  align-items: center;
}
#colorDiv{
  margin-left: 100px;
  font-size: 14pt;
}
.adminbutton{
  background: #4af77e;
  cursor:pointer;
  width:100%;
  height: 50px;
  margin: auto;
  text-align: center;
  align-content: center;
  font-size:20pt;
  font-weight: bold;


}



#admin-form input[type="submit"]:hover {
  background:#ddc6b6;   
}

#admin-form2 input[type="submit"]:hover {
  background:#ddc6b6;   
}

#deletep input[type="submit"]:hover {
  background:#ddc6b6;   
}